<% mainmenus.map do |mainmenu, sub_mainmenus| %>

  <div id="main-title-<%= mainmenu.id %>" class="<%= mainmenu.style_class %>">
    <span class="main-title" onclick=""><%= mainmenu.title %></span>
		<%= render "mainmenus/main_menu_tools", :mainmenu => mainmenu %>
	  <%= render "mainmenus/childmenus", :mainmenu => mainmenu %>
    <%= nested_mainmenus(sub_mainmenus) %>
  </div>

<% end %>
