<h4>Listing users</h4>
<p>
  <%= link_to 'Selection', find_path %>
</p>


<% flash.each do |name, msg| %>
  <%= msg %><br/>
<% end %>

<div class="container">
  <%= will_paginate @users, :previous_label => " « ", :next_label => " » ", inner_window: 1, outer_window: 1 %>
</div>

<div class="container">
  <table style="border-left: 1px solid #b2b2b2; border-top: 1px solid #b2b2b2;" class="users-table">
    <thead>
    <tr>
      <th>Age</th>
      <th>Pay</th>
      <th>Stature</th>
      <th>Weigh</th>
      <th>Email</th>
      <th colspan="3">actions</th>
    </tr>
    </thead>



    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.age %></td>
        <td><%= user.pay %></td>
        <td><%= user.stature %></td>
        <td><%= user.weigh %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div class="container">
	<%= will_paginate @users, :previous_label => " « ", :next_label => " » ", inner_window: 1, outer_window: 1  %>
</div>