<h4 style="margin-left: 15px">Listing users</h4>
<p>
  <%#= link_to 'Selection', searches_index_path %>
</p>


<% flash.each do |name, msg| %>
  <%= msg %><br/>
<% end %>

<div class="container">
  <%= will_paginate @users, :previous_label => " « ", :next_label => " » ", inner_window: 1, outer_window: 1 %>
</div>

<div class="container">
  <table class="users-table table table-striped table-bordered">
    <thead>
    <tr>
      <th>Age</th>
      <th>Pay</th>
      <th>Stature</th>
      <th>Weigh</th>
      <th>Email</th>
      <th colspan="2">actions</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.age %></td>
        <td><%= user.pay %></td>
        <td><%= user.stature %></td>
        <td><%= user.weigh %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= edit_user_button(current_user) %></td>
        <td><%= destroy_user_button(current_user) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div class="container">
	<%= will_paginate @users, :previous_label => " « ", :next_label => " » ", inner_window: 1, outer_window: 1  %>
</div>