<!DOCTYPE html>
<html>
<head>
  <title>Jobtest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<%= render "layouts/header" %>

	<div class="container container-add-style">
		<div class="center-content">
		  <%= yield %>
		</div>
	</div>


<div class="footer">
	<div class="footer-box">
	  <%= debug(params) if Rails.env.development? %>
	</div>

</div>

</body>
</html>